@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0 !important;
  height: 100%;
  background-color: #f0f1f7;
  font-family: 'Quicksand';
  font-size: 14px;
  font-weight: 400;
}
